:root {
--scheme-brand-100: #000236;
--scheme-brand-200: #001044;
--scheme-brand-300: #134279;
--scheme-brand-400: #2e5b95;
--scheme-brand-500: #4876b2;
--scheme-brand-600: #6898d6;
--scheme-brand-600-15: rgba(104,152,214,0.15);
--scheme-brand-600-30: rgba(104,152,214,0.3);
--scheme-brand-600-50: rgba(104,152,214,0.5);
--scheme-brand-700: #86b7f8;
--scheme-brand-800: #a8dbff;
--scheme-brand-900: #b8ebff;
--scheme-brand-1000: #c5f9ff;
--scheme-brand-1100: #ccffff;
--scheme-brand-1200: #cfffff;
}
